#bookLibrary {
  flex-direction: column;
  align-items: center;
}

.library {
  display: flex;
}

.middle {
  align-items: center;
  justify-content: space-between;
  background-color: #dbdbdb;
  border: 1px solid black;
  width: 40rem;
  margin: 1rem;
  font-weight: 900;
}

#heading {
  font-weight: 900;
  font-size: xx-large;
}

.outer {
  border: 3px solid black;
  margin: 0.3rem;
}

#readBook {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.letter {
  margin-left: 0.3rem;
}

.btn {
  font-weight: 700;
  font-size: large;
}

.hline {
  width: 20%;
  height: 2px;
  background-color: black;
  border: none;
}

.tech {
  width: 20rem;
  height: 1.5rem;
}
